<nav class="navbar navbar-dark bg-dark">
   <div align="center">
      <h1><font face="Comic Sans MS,Arial,Verdana">DATOS</font></h1>
   </div>
</nav>

<div class="cuerpo">
  <div align="center">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Cedula" aria-label="Cedula" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Nombre" aria-label="Cedula" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>


    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Apellido" aria-label="Cedula" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Contrato" aria-label="Cedula" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="N° horas" aria-label="Cedula" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>


    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Curso" aria-label="Cedula" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>

        <div class="col col-lg-2">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Paralelo" aria-label="Cedula" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            <button mat-raised-button>Guardar</button>
          </div>

          <div class="col col-lg-2">
            <button mat-raised-button>Cancelar</button>
          </div>
        </div>


      </div>
</div>