<nav class="navbar navbar-dark bg-dark">
  <div align="center" style="width:100%">
    <h1><font face="Comic Sans MS,Arial,Verdana">DATOS DOCENTE</font></h1>
  </div>
</nav>

<div class="cuerpo">
  <div align="center">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Cédula" [formControl]="cedulaControl">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" [formControl]="nombreControl">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Apellido" [formControl]="apellidoControl">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Contrato" [formControl]="contratoControl">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="N° horas" [formControl]="horasControl">
    </mat-form-field>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Curso" [formControl]="cursoControl">
          </mat-form-field>
        </div>
        <div class="col col-lg-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Paralelo" [formControl]="paraleloControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-md-center" style="margin-top: 16px">
        <div class="col col-lg-2">
          <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        </div>
        <div class="col col-lg-2">
          <button mat-raised-button (click)="cancelar()">Cancelar</button>
        </div>
      </div>

      <p style="margin-top: 16px; text-align:center">{{ mensaje }}</p>
    </div>

  </div>
</div>
