# Dependencias
client/node_modules/
serve/node_modules/
node_modules/

# Variables de entorno
.env
.env.*
serve/.env

# Compilados Angular
client/dist/
client/.angular/
out-tsc/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Tests
client/coverage/
client/e2e/

# Angular cache
client/.sass-cache/
